@charset 'utf-8';
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: ' ';
}

.cf:after {
  clear: both;
}

/*********************** Styling start **********************/
header {
  padding: 3.5% 0; 
  background: #290000;
}   

.header-wrapper {
  max-width: 964px;
  width: 98%;
  margin: 0 auto;
}

header h1 {
  display: inline-block;
}

header nav {
  display: inline-block;
  float: right;
  width: 69%;
}

header nav ul { list-style: none; }

header nav img { display: none; }

header ul li {
  display: inline-block;
  padding: 1.2% 1.8%; 
  border-radius: 9px; 
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

header nav ul li:hover {
  background: #76C38F;
}

.banner-content {
  display: inline-block;
  width: 30%;
  padding-top: 88px;
  padding-left: 45px;
}

.banner-content h2 {
  font-size: 3.96vw;
  color: white;
}

.banner-content p {
  color: grey;
  font-size: 1.2vw;
}

.banner-content h2:first-letter{
  text-transform: uppercase;
}


.banner-div button {
  margin-top: 13px;
  background: #76C38F;
  border: none;
  padding: 3%;
  border-radius: 9px;
  color:white;
}

.banner-img {
  display: inline-block;
  float: right;
  padding-right: 45px;
}

.banner-div {
  padding-top: 53px;
  position: relative;
}

.left-arrow { 
  position: absolute;
  left: 0;
  top: 50%;
}

.right-arrow { 
  position: absolute;
  right: 0;
  top: 50%;
}

.main-wrapper {
  max-width: 964px;
  width: 98%;
  margin: 0 auto;
}

.service-titles {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  border-bottom: 4px solid darkgrey;
}


.service-title {
  text-align: center;
  background: white;
  width: 24%;
}


.service-title img {
  margin: 20px 0;
}

.service-title h2 {
  text-transform: uppercase;
  font-size: 3vw;
}

.service-title p {
  padding-top: 25px;
  padding-bottom: 24px;
}

main {
  background: #670001;
}

.service-title:hover {
  background: #76C38F;
}

.service-title:hover h2{
  color: white;
}

.latest-work h2 {
  text-transform: uppercase;
  font-size: 3vw;
  text-align: center;
  color: white;
  background: #353535;
      width: 28%;
    border-radius: 7px;
    margin: 0 auto; 
    position: absolute;
    top: -23px;
    right: 37%;
}

.latest-work {
  position: relative;
  padding-top: 63px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.space-top {
  padding-top: 30px;
}

.footer-wrapper {
  max-width: 964px;
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.top-footer {
  padding: 40px;
}

footer section {
  width: 20%;
}

footer section h2 {
  color: white;
}

footer {
  background: #353535;
}

section article {
  padding-top: 20px;
}

footer ul,
footer form {
  padding-top: 20px;
}

footer ul {
  list-style: none;
}


